
Spatial Theory Chile/.ipynb_checkpoints/espacial-checkpoint.ipynb
.ipynb_checkpoints/Theory-checkpoint.ipynb
Spatial Theory Chile/.ipynb_checkpoints/CEP Survey-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
Spatial Theory Chile/.ipynb_checkpoints/Theory-checkpoint.ipynb
Spatial Theory Chile/.ipynb_checkpoints/untitled-checkpoint.md
.ipynb_checkpoints/CEP_Survey-checkpoint.ipynb
